.sprite-down-arrow,  .sprite-up-arrow, .sprite-checkbox, .sprite-radio {
  background: url('./sprites/form-elements-sprite.png') no-repeat;
}

.sprite-down-arrow {
	background: url('./sprites/form-elements-sprite.png') no-repeat -1143px -280px;
	width: 76px;
	height: 77px;
}

.sprite-up-arrow {
	background: url('./sprites/form-elements-sprite.png') no-repeat -1035px -280px;
	width: 77px;
	height: 77px;
}

.sprite-checkbox {
	background: url('./sprites/form-elements-sprite.png') no-repeat -158px -239px;
	width: 384px;
	height: 160px;
}

.sprite-radio {
	background: url('./sprites/form-elements-sprite.png') no-repeat -582px -242px;
	width: 398px;
	height: 166px;
}
